# IDEs and editors
.idea
# .vscode

# CMake build files
CMakeFiles/
*.cmake
CMakeCache.txt

# Build output
Makefile
cmake-build-debug/

# Executable
DumbTests

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
